<% defaults = Redmine::Plugin::registered_plugins[:redmine_automatic_hierarchy].settings[:default] %>
<p>
	<label>Show wiki page name as H2?</label>
	<%= hidden_field_tag 'settings[show_wiki_title_as_h2]', 0 %>
	<%= check_box_tag 'settings[show_wiki_titles_as_h2]', 1, @settings['show_wiki_title_as_h2'].to_i == 1 %>
</p>
